events {
    worker_connections 1024;
}

http {
    upstream backend {
        server backend:1337;
    }

    upstream frontend {
        server frontend:5173;
    }

    server {
        listen 80;
        server_name your-domain.com;

        location /admin {
            proxy_pass http://backend;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
        }

        location /api {
            proxy_pass http://backend;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
        }

        location / {
            proxy_pass http://frontend;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
        }
    }
}