version: '3.9'

services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres-container
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: joshi
      POSTGRES_PASSWORD: admin123
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U joshi -d postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres-data: